my-transparent($color, $alpha)
  $rgba = rgba($color, $alpha);
  $ie-hex-str = ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str})"
  zoom: 1;

// deny selecting text
//+2013.8.28 tuiteraz
block-selection()
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select -moz-none
  -ms-user-select none
  user-select none
