extends ../layout

block content
  h1 Grant dialog
  p Hi,
    = user.username
  p= client.name
    | &nbsp;is requesting access to your account.
  p Do you approve?

  form(action='/ifttt/v1/oauth2/authorize/decision' method='post')
    input(type='hidden' name='transaction_id' placeholder='Your Email' value=transactionID)
    div
      input(type='submit' value='Allow' id='allow')
      input(type='submit' value='Deny' id='deny' name='cancel')