extends layout

block content
  h1 Public Page
  p Welcome to Public page
  p
    |Please&nbsp;
    a(href='login') login
    |&nbsp;or&nbsp;
    a(href='register') register
    |&nbsp;if you are the new here
  - if (req.user)
    hr
    div
      p You  are logged in as&nbsp;
        font(style='font-weight:bold')= req.user.username
        |&nbsp;(
        a(href='logout') Logout
        |)