.mb-10 {
  margin-bottom: 10px;
}
.mt-10 {
  margin-top: 10px !important;
}
.padding-10 {
  padding: 10px !important;
}
.cp-section-container {
  position: relative;
  margin-top: 50px;
  padding: 10px;
}
.bm-border {
  border-bottom: 1px dotted #d3d3d3;
}
