#main-navbar-container {
  background-color: #ffd048;
  image: '/images/white-space.png' repeat-x 0 53px;
}
#main-navbar-item-container .nav-item .nav-item-line-up {
  background: url("/images/sprites.png") 0 -268px;
}
#main-navbar-item-container .nav-item .nav-item-line-down {
  background: #ffd048 url("/images/sprites.png") 0 -260px;
}
#main-navbar-logo {
  background: #ffd048 url("/images/jvpic-logo.png") no-repeat center center;
}
