body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF

#oauth2-details
  border 1px solid grey
  word-wrap break-word

form
  label
    display inline-block
    width 100px
