body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#oauth2-details {
  border: 1px solid #808080;
  word-wrap: break-word;
}
form label {
  display: inline-block;
  width: 100px;
}
