h4 Login to your account
form(action='/login' method='post')
  fieldset
    div
      label(for='email') Email
      input(type='email' name='email' placeholder='Your Email')
    div
      label(for='password') Password
      input(type='password' name='password' placeholder='Your Password')
    button(type='Login') Login
