- if (transactionID)
    #oauth2-details
        p transactionID :
            = transactionID
        p user :
            = JSON.stringify(user)
        p client :
            = JSON.stringify(client)
