h4 Register your account
form(action='/register' method='post')
  fieldset
    div
      label(for='email') Email
      input(type='email' name='email' placeholder='Your Email')
    div
      label(for='password') Password
      input(type='password' name='password' placeholder='Your Password')
    button(type='Register') Register
